.ball-context-menu {
	background: white;
	border-radius: 20px;
	box-shadow: $mainShadow;
	overflow: hidden;

	& li {
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		& p {
			font-size: 20px;
			padding: 5px;
			color: $darkgreen;
			transition: all 0.3s ease-in-out;
		}
		&:hover {
			background: $maingreen;
			box-shadow: inset $mainShadow;
			& p {
				color: $white;
			}
		}
	}
}
