.navbar {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 60px;

	background: $maingreen;

	border-radius: 20px;

	box-shadow: $farShadow;

	& .navbar-wrapper {
		width: 80%;

		text-align: center;

		& .app-name {
			display: flex;
			justify-content: center;
			align-items: center;

			& p {
				color: #fff;

				text-transform: uppercase;
				font-weight: bolder;
			}
			$imgHeight: 50px;
			& .app-logo-container {
				display: flex;
				align-items: center;
				justify-content: center;

				height: $imgHeight;
				width: $imgHeight;

				margin-right: 10px;

				background-color: $white;

				border: 2px solid $lightGreen;
				border-radius: 999px;

				overflow: hidden;

				& img {
					height: 40px;
					width: auto;
				}
			}
		}
	}
}
