.controls-panel{
    position: relative;
    width:90%;
    margin: 0 auto;
    margin-top:20px;
    font-family: "Lora", serif!important;
    & .controls-panel-wrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: start;
        & .control-panel-item{
            margin: 10px 20px;
        }
    }
}
.dropdown-content{
    & li{
        cursor:pointer;
        & a{
            cursor:pointer;
        }
    }
}