.controls-panel{
    position: relative;
    width:90%;
    margin: 0 auto;
    margin-top:20px;
    font-family: "Lora", serif!important;
    & .controls-panel-wrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        & .control-panel-item{
            margin: 10px 20px;
            &:nth-child(1){
                width:100%;
            }
            &:nth-child(2){
                width:35%;
            }
            &:nth-child(3){
                width:35%;
            }
        }
    }
}
.balloon-select{
    width:100%;
    background:$maingreen!important;
    & option{
      transition: all .3s ease-in-out;
      &:hover{
        background:$maingreen!important;
      }
    }
  }
.dropdown-content{
    & li{
        cursor:pointer!important;
        & a{
            cursor:pointer!important;
        }
    }
}