.controls-panel{
    position: relative;
    width:90%;
    margin: 0 auto;
    margin-top:20px;
    & .controls-panel-wrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: start;
        & .control-panel-item{
            margin: 10px 20px;
        }
    }
}