.order-menu{
    position: absolute;
    width:90%;
    height:98%;
    top:0;
    display:flex;
    justify-content: center;
    transform:translateX(-50%);
    background:white;
    box-shadow: $mainShadow;
    border-radius:30px;
    transition:all .3s ease-out;   
    overflow:hidden;
    z-index: 20;
    .curve{
        position:absolute;
        height:300px;
        bottom:-12px;
        
        
    }
    .curve-1{
        height:600px;
        left:-12px;
        animation: wave1 5s ease-in-out infinite;
        z-index: -1;
    }
    .curve-2{
        height:550px;
        right:-12px;
        animation: wave1 4s ease-in-out infinite;
    }
    .curve-3{
        left:-12px;
        height:400px;
        animation: wave1 4s ease-in-out infinite;
    }
    & .order-menu-wrapper{
        width:70%;
        margin:30px 0;
        & input{
            // padding:3px;
            // border-radius:30px;
            // box-shadow: $mainShadow;
        }
        & .submit-container{
            display: flex;
            justify-content: center;
            & button{
                font-size:1.5em;
            }
        }
    }
}
@keyframes wave1 {
    0%{
        transform:scaleX(1.1);
    }
    50%{
        transform:scaleX(1);
    }
    100%{
        transform:scaleX(1.1);
    }
   }
